name: Build RENAT container

on: 
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-and-push:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    env:
     GITHUB_WORKSPACE: ${{ github.workspace }}
     TIME_STAMP: $(date "+%Y%m%d_%H%M%S")

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get timestamp
        id: time_stamp
        run: |
            echo ::set-output name=value::$(date "+%Y%m%d_%H%M%S")

      - name: Checkout RENAT src
        uses: actions/checkout@v2
        with:
            repository: bachng2017/RENAT
            path: renat_project
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: bachng
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v2
        with:
            context: .
            push: true
            tags: |
                ghcr.io/bachng2017/renat_container:${{ steps.time_stamp.outputs.value }}
                ghcr.io/bachng2017/renat_container:latest

