# This is a basic workflow to help you get started with Actions

name: Build RENAT container

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-and-test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

#    env:
#        GITHUB_WORKSPACE: ${{ github.workspace }}
#        RENAT_SLACK_WEBHOOK1: ${{ secrets.RENAT_SLACK_WEBHOOK1 }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v2
        with:
            fetch-depth: 0

      - name: Get timestamp
        id: time_stamp
        run: |
            echo ::set-output name=value::$(date "+%Y%m%d_%H%M%S")

      - name: Checkout RENAT
        uses: actions/checkout@v2
        with:
            repository: bachng2017/RENAT
            path: renat_project
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: bachng
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Change config foler from symbolic to ordinary folder
        run: |
            unlink renat_project/config
            cp -pr renat_project/misc/config.sample  renatz_project/config

      - name: Build and Push 
        uses: docker/build-push-action@v2
        with:
            push: true
            load: false
            context: .
            file: Dockerfile
            tags: |
                ghcr.io/bachng2017/renat_container:${{ steps.time_stamp.outputs.value }}
                ghcr.io/bachng2017/renat_container:latest
                bachng/renat:${{ steps.time_stamp.outputs.value }}
                bachng/renat:latest
            # cache-from: type=local,src=/tmp/.buildx-cache
            # cache-to: mode=max,type=local,dest=/tmp/.buildx-cache

      - name: Post message to slack
        env:
            RENAT_SLACK_WEBHOOK1: ${{ secrets.RENAT_SLACK_WEBHOOK1 }}
        run: |
            curl -X POST -H 'Content-type: application/json' --data '{"text":"A new RENAT container has been uploaded. Pls, check https://hub.docker.com/r/bachng/renat"}' "${RENAT_SLACK_WEBHOOK1}"
